@font-face {
    font-family: NorseBold;
    src: url(/fonts/Norse-Bold.otf);
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.main-nav-left {
    width: 33.33%;
}

.banner {
    background-image: url("images/gloom.jpg");
    background-size: cover;
    height: 1300px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 33.33%;
    height: 200px;
    margin-top: 300px;
}

.overlay-text{
    text-align: center;
    font-family: NorseBold;
    font-weight: bold;
    font-size: 72px;
    color: white;
}

.icon {
    width: 25%;
}

.main-nav-right {
    display: flex;
    flex-direction: column;
    width: 66.67%;
}